<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/styles/hildy.css" type="text/css">
    <title>Hildy</title>
</head>
<body>
{{>header}}
<div class="hildy-post">
{{{entry.contentHtmlValue}}}
</div>
</body>
</html>
